<span class="repost_link-<%= micropost.id %>">
  <% if current_user.reposted?(micropost) %>
    <%= render 'microposts/unrepost', micropost: micropost %>
  <% else %>
    <%= render 'microposts/repost', micropost: micropost %>
  <% end %>
</span>